  <div class="home">
    <app-card title="Image 1" description="Interesting text about lakes" [contrast]="sharedService.contrast"></app-card>
    <app-card title="Image 2" description="Interesting text about lakes" [contrast]="sharedService.contrast"></app-card>
    <app-card title="Image 3" description="Interesting text about lakes" [contrast]="sharedService.contrast"></app-card>
    <app-card title="Image 4" description="Interesting text about lakes" [contrast]="sharedService.contrast"></app-card>
    <app-card title="Image 5" description="Interesting text about lakes" [contrast]="sharedService.contrast" type="big"></app-card>
    <app-card title="Image 6" description="Interesting text about lakes" [contrast]="sharedService.contrast" type="big"></app-card>
    <app-card title="Image 7" description="Interesting text about lakes" [contrast]="sharedService.contrast" type="big"></app-card>
  </div>
